@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/login.css" rel="stylesheet" type="text/css"/>
<form asp-action="Register" method="post">
 <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

     <label for="psw"><b>Email</b></label>
     <input class="pass" type="text" placeholder="Enter Password" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input class="pass" type="password" placeholder="Enter Password" name="psw" required>

        <button asp-controller="Home" asp-action="Login" type="submit">Register</button>
</div>
</form>