body {
   
}

form {
    border: 3px solid #f1f1f1;
    margin-top: 90px;
}


button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 2% ;
    cursor: pointer;
    width: 10%;
    
}

button:hover {
    opacity: 0.8;
}


.username-input, .password-input, .email-input, .birthday-input {
    padding-top: 1%;
}
/* Register link */
.register-link {
    padding-left: 5px;
    text-decoration: none;
    color: darkblue;
}
a :hover {
    color: lightblue;
}
.register-link{
    padding-bottom: 2%;
}