body {
    background-image: url("../images/parisBack.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

page-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

p.description {
    padding-top: 10px;
}

img {
    grid-column: 1;
    width: 450px;
    height: 300px;
}
h1,h5,p{
    color:white;
}

.city-name {
    font-size: 8em;
}

.city-rating {
    font-size: 2em;
}

.review-prof-pic {
    width: 2em;
    height: 2em;
    border-radius: 50px;
}


.flex-container {
    display: flex;
    justify-content: start;
    column-gap: 6%;
    row-gap: 10px;
}

.text {
    grid-column: 2;
    margin-left: 50px;
    width: 150px;
}

button#beenTo {
    width: 60%;
    height: 3rem;
    margin-top: 15px;
    margin-bottom: 15px;
    border-width: thin;
    border-radius: 3rem;
    font-size: 1.6rem;
}

button#goingTo {
    width: 60%;
    height: 3rem;
    margin-bottom: 15px;
    border-width: thin;
    border-radius: 3rem;
    font-size: 1.6rem;
}

button#beenTo:hover {
    background-color: gray;
}

button#goingTo:hover {
    background-color: gray;
}

button#beenTo:focus {
    background-color: rgb(234, 200, 213)
}

button#goingTo:focus {
    background-color: rgb(234, 200, 213)
}

.buttons {
    text-align: center;
}



.review > h4 {
    color: white;
}

form input {
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid;
    border-radius: 3px;
    background: white;
    padding: 0 15px;
    font-size: 20px;
}

form textarea {
    padding: 5px 15px;
    border-radius: 3px;
    background: white;
    font-size: 20px;
    width: 80%;
    margin: 4px 0;
}
form button {
    width: 150px;
}
form input :focus,
form textarea:focus {
    border: 1px solid black;
    color: black;
    transition: all 0.3s ease;
}

form input :focus::placeholder,
form textarea:focus::placeholder {
    padding-left: 4px;
    color: black;
    transition: all 0.3s ease;
}
.stars {
    padding-top: 10px;
}

.review{
    padding-top: 35%;
}
.buttons-img{
    flex-direction: column;
}
.email-rating {
    display: flex;
    gap: 1rem;
}