body {
    background-image: url("../images/parisBack.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

page-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

img {
    grid-column: 1;
    width: 450px;
    height: 300px;
    /* margin-left: 18%; */
}
h1,h5,p{
    color:white;
}

.city-name {
    font-size: 8em;
}

.city-rating {
    font-size: 3em;
}

.review-prof-pic {
    width: 2em;
    height: 2em;
    border-radius: 50px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 8%;
    row-gap: 10px;
}

.text {
    grid-column: 2;
    margin-left: 50px;
    width: 150px;
}

.buttons {
    width: 150px;
    margin-top: 50px;
}

.review > *{
 color:white;
}

form input {
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid;
    border-radius: 3px;
    background: white;
    padding: 0 15px;
    font-size: 20px;
}

form textarea {
    padding: 5px 15px;
    border-radius: 3px;
    background: white;
    font-size: 20px;
    width: 150%;
    margin: 4px 0;
}
form button {
    width: 150px;
}
form input :focus,
form textarea:focus {
    border: 1px solid black;
    color: black;
    transition: all 0.3s ease;
}

form input :focus::placeholder,
form textarea:focus::placeholder {
    padding-left: 4px;
    color: black;
    transition: all 0.3s ease;
}
