
/*body > .container{
    position:absolute;
    bottom: 0px;
    border-inline: none;
}*/

.counter > h6, p{
    color: black;
}
.row > h6{
    color:black;
}
.upload{
    padding-right: 2%
}
.btnUpload {
    padding: 13px;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 0 0px 0px 0;
    cursor: pointer;
    width: 10%;
}
.container-profile {
    display: grid;
    padding-top: 10%;
    padding-left: 10%;
    grid-template-columns: repeat(2, 1fr);
    /*grid-gap: 20px;*/
    row-gap: 5em;
}

.about-text.go-to {
    margin-bottom: 15%;
}
.ProfilePic {
    margin-top: 5%
}

input[type=file] {
    display: inline-block;
    box-sizing: border-box;
    padding-right: 5%;
}

.about-text go-to, .media {
    grid-column: 2;
}
row align-items-center flex-row-reverse{
    margin-top: 20%;
}


.row align-items-center profile-info > * {
    grid-column: 2
}
.profile-info {
    display: grid;
}
input#uploadBtn {
    border-radius: 0;
    width: auto;
    border-width: thin;
}
input#editBtn {
    border-radius: 0;
    width: 20%;
    border-width: thin;
}
input#submitBtn {
    border-radius: 0;
    width: 20%;
    border-width: thin;
}

form#uploadPictureForm {
    margin-left: 0px;
}

input#browseBtn {
    width: auto;
}