.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 2560px;
    min-height: 140px;
    z-index: 120;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, *::before, *::after {
    box-sizing: border-box;
}
    *, *:after, *::before {
        box-sizing: border-box;
    }

body {
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    font-family: "Rubik",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    color: #35352a;
    text-align: left;
    background-color: #FFF;
}
