.content {
    display: flex;
    column-gap: 30%;
    justify-content: center;
    margin-top: 10%;
}
form#necessities-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
form#travelList > * {
    width: 290%;
}
button.necessityBtn {
    margin-top: 10%;
    margin-bottom: 10%;
}
.border.bg-white {
    margin-top: 15%;
    height: 90%;
}
.travelCustom {
    flex-direction: column;
}
.col-6 {
    width: 100%;
}