body {
    font-family: Arial;

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: 90%;
    margin-top:110px;
    margin-left: 90px;
    
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 5px 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-image{
    width: 100%;
    height: 80%;
}
.header {
    text-align: left;
    
}
a {
    text-decoration: none;
    color: black;
}
a :hover{
    color: cornflowerblue;
}

/* Rating view card */
.rating {
    align-items: center;
    text-align: center;
    background-color: lightblue;
    border-radius: 0;
    display: flex;
    justify-content: right;
    height: 30px;
    justify-content: center;
    width: 37px;
    position: absolute;
    margin-left: 170px; 
}
.review-score > * {
   text-align: left;
   margin-left: 20px;
}
.content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.container > h4 {
    text-align: right;
    margin-left: 50px;
}