@page
@model Adventure_Aisle.Pages.DestinationsModel
@{
}
<link href="~/css/countries.css" rel="stylesheet" type="text/css" />
<<div class="row"> 
  <div class="column">
        <a asp-area="" asp-controller="Home" asp-action="Countries"><img src="~/images/italypic.jpg"></a>
        <a asp-area="" asp-controller="Home" asp-action="Countries"><img src="~/images/spainpic.jpg"></a>
  </div>
    <div class="column">
        <a asp-area="" asp-controller="Country" asp-action="France"> <img src="~/images/francepic.jpg" /> </a>
       <a asp-area="" asp-controller="Home" asp-action="Countries"><img src="~/images/germanypics.jpg"> </a>
</div>
  </div>