@page
@model Adventure_Aisle.Pages.IndexModel
@{
}
<link href="~/css/france.css" rel="stylesheet" type="text/css" />

<div class="content">
    <div class="card">
        <a href="#"><img src="~/images/paris.jpg" alt="paris" class="card-image"></a>
        <div class="cont">
            <a href=""><h4><b>Paris</b></h4></a> 
            <p class="rating">5.0</p>
        </div>
        <div class="review-score">
                <p> Good </p>
                <p>557 ratings</p>
                <p>Climate: Moderate</p>
        </div>
    </div>
    <div class="card">
        <a href="#"><img src="~/images/provence.jpg" alt="provence" class="card-image"></a>
        <div class="cont">
            <a href=""><h4><b>Provence</b></h4></a>
            <p class="rating">4.6</p>
                
        </div>
        <div class="review-score">
                <p> Good </p>
                <p>557 ratings</p>
                <p>Climate: Moderate</p>
        </div>
    </div>
    <div class="card">
        <img src="~/images/versailles.jpg" alt="versailles" class="card-image">
        <div class="cont">
            <a href="#"><h4><b>Versailles</b></h4></a>
            <p>Climate: Moderate</p>
        </div>
    </div>
    <div class="card">
        <img src="~/images/nice.jpg" alt="nice" class="card-image">
        <div class="cont">
            <a href=""><h4><b>Nice</b></h4></a>
            <p>Climate: Moderate</p>
        </div>
    </div>
</div>
