@page
@model AdventureAisleCore.Pages.LoginCoreModel
@{
}
@{
    if (TempData["msg"] != null)
    {
        <script>
                    alert('@TempData["msg"]')
        </script>
    }
}
<form asp-action="Login" method="post">
<link href="~/css/login.css" rel="stylesheet" type="text/css" />
 <div class="container">
    <label asp-for="Usrname"><b>Username</b></label>
    <input asp-for="Usrname" placeholder="Enter Username" required>

    <label asp-for="Pass"><b>Password</b></label>
    <input asp-for="Pass" type="password" placeholder="Enter Password" required>

        <button type="submit" style="margin-left: 940px;">Login</button>
        <h4>Don't have an account yet?<a asp-page="/Register" class="register-link"> Register</a></h4>
</div>
</form>