@page
@model AdventureAisleCore.Pages.LoginCoreModel
@{
    
    if (TempData.ContainsKey("msg"))
    {
        <script>
                    alert('@TempData["msg"]')
        </script>
    }
}
<div class="login_form_container">
	
	<form method="post" class="login_form">
		<h1>Log in</h1>
		<label asp-for="Usr.Email">Email:</label>
		<input asp-for="Usr.Email" type="text" />
		<span asp-validation-for="Usr.Email"></span>
		<label asp-for="Usr.Password">Password:</label>
		<input asp-for="Usr.Password" type="password" />
		<span asp-validation-for="Usr.Password"></span>
		<input type="submit" value="Login" />

		<div class="register-link">
			<h4>Don't have an account yet?<a asp-page="/Register"> Register</a></h4>
		</div>
	</form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}