@page
@model AdventureAisleCore.Pages.ParisModel
@{
}
<link rel="stylesheet" href="~/css/paris.css" />

	<div class="page-content">
		<div class="flex-container">
			<img src="~/images/p.jpg"  />
			<div class="text">
				<h1>Paris</h1>
				<h5>Rating: 4.5</h5>
					<div class="buttons">
						<button>Been</button>
						<button>Going to</button>
					</div>	
				<div class="review">
					<h5> Username </h5>
					@foreach(var review in Model.Reviews)
					{
						<p>@review.ReviewTxt</p>
					}
					
				</div>
			</div>
			</div>
		</div>
	</div>

