@page
@using BusinessLogic;
@using DAL;
@model AdventureAisleCore.Pages.ParisModel
@{
}
<link rel="stylesheet" href="~/css/paris.css" />

<div class="page-content">
	<div class="flex-container">
		<img src="~/images/p.jpg"  />

		<div class="city-info">
			<h1 class="city-name">Paris</h1>
			<h5 class="city-rating">Rating: 4.5</h5>
				<div class="buttons">
					<button>Been</button>
					<button>Going to</button>
				</div>
		</div>

		<div class="flex-break"></div>

		<div class="review">
			<h1>Reviews</h1>
			@foreach(var r in Model.Reviews)
			{
				UserRepository repo = new UserRepository();
				UserDTO user = repo.GetUserByEmail(r.UserEmail);
				@if(user.ProfilePic != null)
				{
					<img class="review-prof-pic" src="data:image/png;base64,@Convert.ToBase64String(user.ProfilePic)"/>
				}
				else
				{
					<img class="review-prof-pic" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" />
				}
				<h5> @r.UserEmail </h5>
				<p>@r.ReviewTxt</p>
			}
			@if(Model.User != null)
			{
				<form method="post">
					<h4> My review </h4>
					<textarea cols="15" rows="5" placeholder="Enter your opinion here..." asp-for="Review.ReviewTxt"></textarea>
					<button type="submit">Submit</button>
				</form>
			}
		</div>

	</div>
</div>

