@page
@model AdventureAisleCore.Pages.ParisModel
@{
}
<link rel="stylesheet" href="~/css/paris.css" />

	<div class="page-content">
		<div class="flex-container">
			<img src="~/images/p.jpg"  />
			<div class="text">
				<h1>Paris</h1>
				<h5>Rating: 4.5</h5>
					<div class="buttons">
						<button>Been</button>
						<button>Going to</button>
					</div>	
				<div class="review">
				@foreach(var r in Model.Reviews)
				{
					<h5> @r.UserEmail </h5>
					<p>@r.ReviewTxt</p>
				}
				@if(Model.User != null)
				{
					<form method="post">
						<h4> My review </h4>
						<textarea cols="15" rows="5" placeholder="Enter your opinion here..." asp-for="Review.ReviewTxt"></textarea>
						<button type="submit">Submit</button>
					</form>
				}

				</div>
			</div>
			</div>
		</div>
	</div>

