@page
@{
    
}
<link href="~/css/privacy.css" rel="stylesheet" type="text/css" />

<h1> @ViewBag.Title </h1>

<p>All personal information provided to this website will be protected according to the  European law for personal information privacy.</p>
