@page
@model AdventureAisleCore.Pages.RegisterCoreModel
@{
}

<div class="login_form_container">

    <form method="post" class="login_form">
        <h1>Register</h1>
        <label asp-for="Usr.username">Username:</label>
        <input asp-for="Usr.username" type="text" />
        <span asp-validation-for="Usr.username" class="text-danger"></span>

        <label asp-for="Usr.password">Password:</label>
        <input asp-for="Usr.password" type="password" />
        <span asp-validation-for="Usr.password" class="text-danger"></span>

        <label asp-for="Usr.email">Email:</label>
        <input asp-for="Usr.email" type="email" />
        <span asp-validation-for="Usr.email" class="text-danger"></span>

        <label asp-for="Usr.birthday"><b>Birthday</b></label>
        <input asp-for="Usr.birthday" type="datetime-local">

        <input type="submit" value="Register" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}