@page
@model AdventureAisleCore.Pages.RegisterCoreModel
@{
}

<div class="login_form_container">

    <form method="post" class="login_form">
        <h1>Register</h1>
        <label asp-for="Usr.Username">Username:</label>
        <input asp-for="Usr.Username" type="text" />
        <span asp-validation-for="Usr.Username" class="text-danger"></span>

        <label asp-for="Usr.Password">Password:</label>
        <input asp-for="Usr.Password" type="password" />
        <span asp-validation-for="Usr.Password" class="text-danger"></span>

        <label asp-for="Usr.Email">Email:</label>
        <input asp-for="Usr.Email" type="email" />
        <span asp-validation-for="Usr.Email" class="text-danger"></span>

        <label asp-for="Usr.Birthday"><b>Birthday</b></label>
        <input asp-for="Usr.Birthday" type="date">

        <input type="submit" value="Register" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}