@page
@model AdventureAisleCore.Pages.RegisterCoreModel
@{
}
<link href="~/css/login.css" rel="stylesheet" type="text/css" />
<form method="post">
 <div class="container-register">

       <div class="username-input">
            <label asp-for="Usr.username"><b>Username</b></label>
            <input asp-for="Usr.username" placeholder="Enter Username" default="3">
            <span asp-validation-for="Usr.username" class="text-danger"></span>
       </div>

        <div class="password-input">
            <label asp-for="Usr.password"><b>Password</b></label>
            <input asp-for="Usr.password" type="password" placeholder="Enter Password">
            <span asp-validation-for="Usr.password" class="text-danger"></span>
        </div>

        <div class="email-input">
            <label asp-for="Usr.email"><b>Email</b></label>
            <input asp-for="Usr.email" type="email" placeholder="Enter email">
            <span asp-validation-for="Usr.email" class="text-danger"></span>
        </div>

        <div class="birthday-input">
            <label asp-for="Usr.birthday"><b>Birthday</b></label>
            <input asp-for="Usr.birthday" type="datetime-local">
        </div>

        <button type="submit" style="margin-left: 940px;">Register</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}